**/*.pyc
**/.terraform/*
*.audit
*.bak*
*.crt
*.csr
*.csv
*.debug
*.err
*.key
*.log
*.out
*.p7b
*.pem
*.swp
*.tfstate
*.tfstate.*
*.xlsx
*.zip
*_override.tf
*_override.tf.json
*hclic
*pass
*passwd
*password
*snap
*tfplan*
*tmp*
*token
.init.json
.init.out
.init.txt
.terraform.lock.hcl
.terraform.lock.hcl
.terraformrc
__pycache__
audit
init
init.json
init.out
init.txt
license*
override.tf
override.tf.json
secret.tfvars
terraform.rc
tf.plan.out
